.box {
    font-size: 14px;
    color: black;
    margin-bottom: 6px;
    padding: 5px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
}

.button {
    color: transparent;
    border: 0;
    box-shadow: 0;
}

.icon {
    color:#fff;   
}

 .box:hover .icon { 
     color:#888;
} 

 .box:hover { 
     background-color:#d3d3d3;
} 

 .box:hover .button { 
     background-color:#d3d3d3;
} 

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    }