.CreateListInput {
    border:none;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.CreateList {
    background-color: #E2E4E6;
    border-radius: 3px;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    box-shadow: 1px 1px 3px #444;
}

.listAdd {
    background-color:#026AA7;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    color: white;
    font-size: 14px;
    box-shadow: 1px 1px 3px #444;
}

.listAdd:hover {
    background-color: #015996;
}