.ListTitle h1 {
    padding:10px;
    color: black;
    font-weight: bold;
}

.ListTitle .editTitle {
    margin: 0;
    width:100%;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    border-radius: 3px;
    border: none;
}