 .AddLink .ListAdd {
     padding:10px;
    color:#8c8c8c;
    border-radius: 3px;
    font-weight:normal;
    font-size:14px;
    width:100%;
    text-align:left;
}

.AddLink .ListAdd:hover {
    background-color: #8c8c8c;
    color: black;
    text-decoration: underline;
}

.ListAddForm {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius:3px;
    border:none;
    padding: 10px 5px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
}

.FormBox {
    padding: 10px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
}
